In [1]:
import pandas as pd
import numpy as np

In [2]:
jan= pd.read_csv(r"C:\Users\sairam\metropt- labelled- jan.csv")
jan=jan.drop(['Unnamed: 0.1','Unnamed: 0','timestamp'],axis=1)
jan= jan.sample(500000,replace=True)

In [3]:
feb= pd.read_csv(r"C:\Users\sairam\metropt- labelled- february.csv")
feb=feb.drop(['Unnamed: 0.1','Unnamed: 0','timestamp'],axis=1)
feb_n=feb[feb['output']==3]
feb_a0=feb[feb['output']==1]
feb_n=feb_n.sample(500000,replace=True)
feb_data=pd.concat([feb_n,feb_a0],axis=0)

In [8]:
mar= pd.read_csv(r"C:\Users\sairam\Downloads\metropt- labelled- mar.csv")
mar=mar.drop(['Unnamed: 0.1','Unnamed: 0','timestamp'],axis=1)
mar_n=mar[mar['output']==3]
mar_a0=mar[mar['output']==0]
mar_a1=mar[mar['output']==1]
mar_n=mar_n.sample(500000,replace=True)
mar_data=pd.concat([mar_n,mar_a0,mar_a1],axis=0)

In [ ]:
mar['output'].value_counts()

In [5]:
apr= pd.read_csv(r"C:\Users\sairam\metropt- labelled- apr.csv")
apr=apr.drop(['Unnamed: 0.1','Unnamed: 0','timestamp'],axis=1)
apr= apr.sample(500000,replace=True)

In [6]:
may= pd.read_csv(r"C:\Users\sairam\metropt-labelled-may.csv")
may=may.drop(['Unnamed: 0.1','Unnamed: 0','timestamp'],axis=1)
may_n=may[may['output']==3]
may_o=may[may['output']==2]
may_n=may_n.sample(500000,replace=True)
may_data=pd.concat([may_n,may_o],axis=0)

In [7]:
jun= pd.read_csv(r"C:\Users\sairam\metropt-laballed-jun.csv")
jun=jun.drop(['Unnamed: 0.1','Unnamed: 0','timestamp'],axis=1)
jun_n=jun[jun['output']==3]
jun_o=jun[jun['output']==2]
jun_n=jun_n.sample(500000,replace=True)
jun_data=pd.concat([jun_n,jun_o],axis=0)

In [9]:
data=pd.concat([jan,feb_data,mar_data,apr,may_data,jun_data],axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3212104 entries, 1247481 to 80282
Data columns (total 29 columns):
 #   Column           Dtype
---  ------           -----
 0   TP2              float64
 1   TP3              float64
 2   H1               float64
 3   DV_pressure      float64
 4   Reservoirs       float64
 5   Oil_temperature  float64
 6   Flowmeter        float64
 7   Motor_current    float64
 8   COMP             float64
 9   DV_eletric       float64
 10  Towers           float64
 11  MPG              float64
 12  LPS              float64
 13  Pressure_switch  float64
 14  Oil_level        float64
 15  Caudal_impulses  float64
 16  gpsLong          float64
 17  gpsLat           float64
 18  gpsSpeed         float64
 19  gpsQuality       float64
 20  month            int64
 21  day              int64
 22  hour             int64
 23  minute           int64
 24  second           int64
 25  fault            int64
 26  location         int64
 27  output           int64
 28  Unnamed: 0.2     float64
dtypes: float64(21), int64(8)
memory usage: 735.2 MB

In [10]:
data['output'].value_counts()

output
3    3000000
2     195484
1      14821
0       1799
Name: count, dtype: int64

In [11]:
data=data.drop(['Unnamed: 0.2'],axis=1)

In [12]:
data.to_csv('merged dataset.csv')